stages:
  - test

variables:
  BASE_URL: "https://eq-debt-collection-stage.bdengi.ru"

api-tests:
  stage: test
  image: node:18
  tags:
    - docker
  before_script:
    - npm ci
    - npx playwright install chromium
  script:
    - npx playwright test ./API-Tests/eq-debt-collection/packages/id/eq-debt-collection-packages-id.spec.ts --reporter=html,line --project=chromium
  artifacts:
    when: always
    paths:
      - playwright-report/
      - test-results/
    expire_in: 1 week