stages:
  - test

api-tests:
  stage: test
  image: node:18
  tags:
    - docker
  before_script:
    - apt-get update && apt-get install -y libnss3 libatk-bridge2.0-0 libdrm-dev libxkbcommon-dev libgbm-dev libasound-dev
    - npm ci
    - npx playwright install
  script:
    - echo "Running API tests..."
    - npx playwright test ./API-Tests/eq-debt-collection/packages/id/eq-debt-collection-packages-id-splitversion.spec.ts --reporter=html,line
  artifacts:
    when: always
    paths:
      - playwright-report/
      - test-results/
    expire_in: 1 week
  only:
    - merge_requests
    - main
    - develop